<nav class="fixed top-0 left-0 h-screen w-56 bg-zinc-950 border-r border-zinc-800 flex flex-col px-6 py-8 shadow-2xl">

    <a
        class="text-3xl font-bold mb-12 tracking-wide text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 to-purple-500">
        PortFolio
    </a>

    <ul class="flex flex-col gap-2">
        <li>
            <a routerLink="/home" routerLinkActive="text-indigo-400 bg-indigo-600/10 font-medium"
                class="block px-4 py-3 rounded-xl text-zinc-400 hover:text-indigo-300 hover:bg-zinc-900 transition-all duration-200">
                Inicio
            </a>
        </li>

        <li>
            <a routerLink="/projects" routerLinkActive="text-indigo-400 bg-indigo-600/10 font-medium"
                class="block px-4 py-3 rounded-xl text-zinc-400 hover:text-indigo-300 hover:bg-zinc-900 transition-all duration-200">
                Proyectos
            </a>
        </li>

        <li>
            <a routerLink="/education" routerLinkActive="text-indigo-400 bg-indigo-600/10 font-medium"
                class="block px-4 py-3 rounded-xl text-zinc-400 hover:text-indigo-300 hover:bg-zinc-900 transition-all duration-200">
                Educación
            </a>
        </li>
        <li>
            <a routerLink="/experience" routerLinkActive="text-indigo-400 bg-indigo-600/10 font-medium"
                class="block px-4 py-3 rounded-xl text-zinc-400 hover:text-indigo-300 hover:bg-zinc-900 transition-all duration-200">
                Experiencia
            </a>
        </li>

        <li>
            <a routerLink="/contact" routerLinkActive="text-indigo-400 bg-indigo-600/10 font-medium"
                class="block px-4 py-3 rounded-xl text-zinc-400 hover:text-indigo-300 hover:bg-zinc-900 transition-all duration-200">
                Contacto
            </a>
        </li>
    </ul>
</nav>